/* Device = Most of the Smartphones Mobiles (Portrait) */
$screen-xxs-min: 320px;
$screen-xxs-max: 480px;

/* Device = Low Resolution Tablets, Mobiles (Landscape) */
$screen-xs-min: 481px;
$screen-xs-max: 767px;

/* Device = Tablets, Ipads (portrait) */
$screen-sm-min: 768px;
$screen-sm-max: 1024px;

/* Device = Laptops, Desktops */
$screen-md-min: 1025px;
$screen-md-max: 1280px;

/* Device = Desktops */
$screen-lg-min: 1281px;
$screen-lg-max: 1440px;

/* Higher Resolution Screens */
$screen-xlg-min: 1441px;
$screen-xlg-max: 2560px;

// $font-family-playfair: 'Playfair Display', serif;

$font-weight-thin:          100;
$font-weight-exlight:       200;
$font-weight-light:         300;
$font-weight-regular:       400;
$font-weight-medium:        500;
$font-weight-semibold:      600;
$font-weight-bold:          700;
$font-weight-exbold:        800;
$font-weight-black:         900;

// colors
$color-secondary:   #60c3ff;
$color-main:        greenyellow;

$gray-prymary:      #F0F1F4;
$blue-gradient:     linear-gradient(hsl(229, 91%, 65%) 0%, $color-secondary 100%) ;
$blue-primary :     #0c3245;

$gmail:             #0077B5;
$linkedin:          #25D366;
$whatsapp:          #D44638;
$overlay:             rgba(#4C5264, 0.95);



$watch-width: 185px;
$watch-height: ($watch-width * 1.19);
$watch-frame: 10px;